@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MOVIEZ</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Moviez</h2>
        <p>
            Moviez is an app where you can add movies and reviews to movies.
        </p>

    </div>

</div>